/**
 * Jimage
 */

ul, li {
  margin: 0;
  padding: 0;
}

/**
 * SlideImage
 */
.container {
  margin: 0 auto;
}

.loader {
  clear: both;
  background-color: white;
  display: inline;
  float: left;
  overflow: hidden;
  margin: auto;
  width: 475px;
  height: 500px;
  position: relative;
  text-align: center;
  border: solid 1px #ccc;
  padding: 1px;
}

.loader img {
  width: 100%;
  height: 100%;
}

.loading {
  background: url( '../img/loadingIcon.gif' ) no-repeat 50% 50%;
  height: 100%;
  width: 100%;
}

.imageOptions a img {
  border: solid 1px #ccc;
  padding: .5em .5em;
  width: 100px;
  height: 100px;
}

.imageOptions img:hover {
  border-color: #FF9900;
}

.imageOptions a {
  outline: none;
}

.imageOptions {
  background-color: white;
  float: left;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.clearboth {
 clear: both;
}

.loader h3 {
  line-height: 475px;
}

/**
 * Imageview
 */
.imageview {
  background-color: white;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.imageview a {
  outline: none;
}

.imageview  a img {
  padding: .5em .5em;
}